@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

:root {
	--bg-color: #fdfdfd;
	--text-color: #333;
	--main-color: #754ef9;
	--white-color: #fdfdfd;
	--shadow-color: rgba(0, 0, 0, .2);
	/*--index: calc(1vh + 1vw);*/
}

.dark {
	--bg-color: #0b061f;
	--text-color: #fdfdfd;
	--shadow-color: rgba(0, 0, 0, .7);
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

.header {
	position: fixed;
	display: flex;
	z-index: 100;
	align-items: center;
	padding: 2rem 7%;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	transition: .5s ease;
}

.header.sticky {
	background: var(--bg-color);
	box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
	font-size: 2.5rem;
	color: var(--main-color);
	font-weight: 600;
	cursor: default;
	margin-right: auto;
}

.navbar a {
	position: relative;
	font-size: 1.7rem;
	color: var(--white-color);
	margin-right: 3.5rem;
	font-weight: 500;
}

.header.sticky .navbar a {
	color: var(--text-color);
}

.header.sticky .navbar a.active {
	color: var(--main-color);
}

.navbar a.active::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	background: var(--white-color);
	height: .2rem;
}

.header.sticky .navbar a.active::before {
	background: var(--main-color);
	opacity: .7;
}

#darkMode-icon {
	font-size: 2.4rem;
	color: var(--white-color);
	cursor: pointer;
}

.header.sticky #darkMode-icon {
	color: var(--text-color);
	opacity: .9;
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--text-color);
	cursor: pointer;
	display: none;
}

section {
	min-height: 100vh;
	padding: 10rem 7% 2rem;
}

.home {
	display: flex;
	align-items: center;
}

.home .home-content {
	max-width: 44rem;
}

.home-content h3 {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: .3;
}

.home-content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	margin-bottom: .3rem;
}

.home-content p {
	font-size: 1.6rem;
}

.home-content .social-media a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	box-shadow: 0 .2rem .5rem var(--shadow-color);
	font-size: 2rem;
	color: var(--main-color);
	margin: 2.5rem 1.5rem 3rem 0;
	transition: .5s ease;
}

.home-content .social-media a:hover {
	background: var(--main-color);
	color: var(--white-color);
}

.home .profession-container {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 100vh;
	overflow: hidden;
	pointer-events: none;
}

.home .profession-container .overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: calc(100vh * 0.5) solid var(--main-color);
	border-right: calc(100vw * 0.3) solid var(--main-color);
	border-bottom: calc(100vh * 0.5) solid var(--main-color);
	border-left: calc(100vw * 0.3) solid transparent;
}


.home-image img {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 80%;
	pointer-events: none;
}

span {
	color: var(--main-color);
}

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.about-img img {
	width: 40vw;
	pointer-events: none;
}

.heading {
	font-size: 4.5rem;
	text-align: center;
}

.about-content h2 {
	text-align: left;
	line-height: 1.2;
}

.about-content h3 {
	font-size: 2rem;
}

.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0 3rem;
}

.students {
	padding-bottom: 10rem;
}

.students h2 {
	margin-bottom: 4rem;
}

.students .students-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.students-container .students-box {
	position: relative;
	display: flex;
	border-radius: 2rem;
	height: 50rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
	overflow: hidden;
}

.students-box img {
	width: 100%;
	object-fit: fill;
	transition: .5s ease;
}

.students-box:hover img {
	transform: scale(1.1);
}

.students-box .students-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
	color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	opacity: 0;
	transition: .5s ease;
}

.students-box:hover .students-layer {
	opacity: 1;
}

.students-layer h4 {
	font-size: 3rem;
}

.students-layer p {
	font-size: 1.6rem;
	margin: .3rem 0 1rem;
}

.testimonial-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
	position: relative;
	max-width: 90rem;
	width: 100%;
	padding: 5rem;
}

.testimonial-container .testimonial-box {
	padding: 1rem;
	border-radius: 2rem;
	overflow: hidden;
}

.testimonial-content .testimonial-slide {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: var(--bg-color);
	border-radius: 2rem;
	box-shadow: 0 .1rem .5rem var(--shadow-color);
	padding: 3rem 5rem;
	border-top: .8rem solid var(--main-color);
	border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img {
	width: 14rem;
	height: 14rem;
	object-fit: cover;
	border-radius: 50%;
	border: .5rem solid var(--bg-color);
	outline: .5rem solid var(--main-color);
}

.testimonial-slide h3 {
	font-size: 2.5rem;
	margin: 2rem 0;
}

.testimonial-slide p {
	font-size: 1.4rem;
	text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
	color: var(--main-color);
}

.testimonial-box .swiper-button-next {
	right: 0;
}

.testimonial-box .swiper-button-prev {
	left: 0;
}

.testimonial-box .swiper-pagination-bullet {
	background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
	background: var(--main-color);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 7%;
	background: var(--main-color);
}

.footer .footer-text p {
	font-size: 1.6rem;
	color: var(--white-color);
}

.footer .footer-iconTop a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: .8rem;
	background: var(--white-color);
	border-radius: .8rem;
	border: .2rem solid var(--main-color);
	outline: .2rem solid transparent;
	transition: .5s ease;
}

.footer .footer-iconTop a:hover {
	outline-color: var(--white-color);
}

.footer .footer-iconTop a i {
	font-size: 2.4rem;
	color: #333;
}

/* BRERAKPOINTS */
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 1024px) {
	.header {
		padding: 2rem 3%;
	}
	
	section {
		padding: 10rem 3% 2rem;
	}
}

@media (max-width: 991px) {
	.home .home-content {
		max-width: 50rem;
	}
	
	.students {
		padding-bottom: 7rem;
	}
	
	.footer {
		padding: 2rem 3%;
	}
}

@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}
	
	#darkMode-icon {
		position: absolute;
		right: 7rem;
		font-size: 2.6rem;
		color: var(--text-color);
		margin-bottom: .1rem;
	}
	
	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: .1rem solid var(--shadow-color);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
		display: none;
	}
	
	.navbar.active {
		display: block;
	}
	
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
		color: var(--text-color);
	}
	
	.navbar a.active {
		color: var(--main-color);
	}
	
	.navbar a::before {
		display: none;
	}
	
	.home {
		padding: 0 3% 23rem;
		justify-content: center;
		text-align: center;
	}
	
	.home-content h3 {
		font-size: 2.6rem;
	}
	
	.home-content h1 {
		font-size: 5rem;
	}
	
	.home-content .social-media a {
		margin: 2.5rem .75rem 3rem;
	}
	
	.home .profession-container {
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.home .profession-container .overlay {
		position: fixed;
		top: 90vh;
		left: 50%;
		right: 0;
		transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
		border-width: 23.9rem;
	}
	
	.home .home-image img {
		height: 50%;
		left: 35%;
	}
	
	.about {
		flex-direction: column;
		text-align: center;
	}
	
	.about-content h2 {
		text-align: center;
	}
	
	.about-img img {
		width: 70vw;
		margin-top: -2rem;
	}
	
	.students h2 {
		margin-bottom: 3rem;
	}
	
	.students .students-container {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.testimonial-container .testimonial-wrapper {
		padding: 5rem 0;
	}
	
	.testimonial-content .testimonial-slide {
		padding: 3rem 2rem;
	}
	
	.testimonial-box .swiper-button-next,
	.testimonial-box .swiper-button-prev {
		display: none;
	}
}

@media (max-width: 617px) {
	.students .students-container {
		grid-template-columns: 1fr;
	}
	
	.students-container .students-box {
		height: 35rem;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	
	#darkMode-icon {
		right: 6rem;
	}
	
	.home {
		padding: 0 3% 30rem;
	}
	
	.home .home-image img {
		left: 25%;
	}
}

@media (max-width: 365px) {
	.about-img img {
		width: 90vw;
	}
	
	.footer {
		flex-direction: column-reverse;
	}
	
	.footer p {
		text-align: center;
		margin-top: 2rem;
	}
}